.washroom-page {
    text-align: center;
    padding: 2rem;
    background-color: #f8fafc;
    min-height: 100vh;
  }
  
  .washroom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .washroom-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  
  .washroom-info {
    padding: 1.2rem;
    text-align: left;
  }

  .LeftAlignContainer {
    width: 800px;
  }

  .LeftAlign {
    text-align: left;
    align-content: left;

    .ReviewBox {
        width: 850px;
      }
}
  