#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.MenuButton {font-size: 60px;
            width: 425px;}

.Header{
    text-decoration: underline rgba(24, 54, 71) 3px; 
}
